{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.layout {
    margin:0%;
    padding:1em;
}
.text{
    text-align: justify;
}

</style>
   <div class="layout" >
       <center><h3>About Me</h3></center>                  
       <p class="text" data-aos="fade-left" data-aos-delay="100">I am an inquisitive toddler in the engineering field doing my undergraduate in automotive engineering.I am part of thriving formula student team,climbing up the ladder and looking forward to prosper in upcoming year</p>
       <p class="text" data-aos="fade-left" data-aos-delay="100">I am a shoshinistic, expressing my views on topics of my interest and curious about learning new things.I am currently pursuing my final year of undergraduate in PSG college of Technology.Surprisingly my life has turned over a new leaf while I am still wondering how could one win in Takeshi’s castle. That’s pretty much sums up about me</p>
   </div>
{% endblock  %}
    