{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    
    <section class="site-title">
      <div class="site-background" data-aos="fade-up" data-aos-delay="500">
        <h3>BLOG</h3>
        <h1>A curated version of my opinions</h1>
        <a href="/articles/" ><button class="btn">Explore</button></a>
      </div>
    </section>
    
    <section>
      <div class="blog">
        <div class="container">
          <div class="owl-carousel owl-theme blog-post">
            
            {% for card in info %}
              <div class="blog-content" data-aos="zoom-in-up" data-aos-delay="200">
                <img src="{{card.image.url}}" alt="post-1">
                <div class="blog-title">
                  <h3>{{card.title | title}}</h3>
                  <button class="btn btn-blog">Read more</button>
                  <span>2 min</span>
                </div>
              </div>
            {% endfor %}
                
            
          <div class="owl-navigation">
            <span class="owl-nav-prev"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>
            <span class="owl-nav-next"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </section>

  
    <section class="container">
      <div class="site-content">
        <div class="posts">
        {% for i in info %}
  
          <div class="post-content" data-aos="fade-right" data-aos-delay="500">
            <div class="post-image">
              <div>
                <img src="{{i.image.url}}" class="img" alt="blog1">
              </div>
              <div class="post-info flex-row">
                <span><i class="fa fa-user text-gray" aria-hidden="true"></i>&nbsp;&nbsp;Sowmiyan</span>
                <span><i class="fa fa-calendar-o text-gray" aria-hidden="true"></i>&nbsp;&nbsp;{{i.date|date:'M d Y'}}</span>
              </div>
            </div>
            <div style="text-align:justify" class="post-title">
              <a href="{% url 'detail' slug=i.slug %}">{{i.title | title}}</a>
              <p>{{i.body|safe|truncatechars:250}}</p>
              <a href="{% url 'detail' slug=i.slug %}"><button class="btn post-btn">Read More &nbsp; <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button></a>
            </div>
          </div>
          <hr>
       {% endfor %}
          
        </div>
        <aside class="sidebar">
          <div class="category">
              <h2>Category</h2>
              <ul class="category-list">
                  <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                      <a href="#">Technology</a>
                      
                  </li>
                  <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                      <a href="#">Engineering</a>
                      
                  </li>
                  <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                      <a href="#">Opinions</a>
                      
                  </li>
                  <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                      <a href="#">Civil commotion</a>
                      
                  </li>                  
              </ul>
          </div>
          <div class="popular-post">
            <h2>Popular Post</h2>
            {% for p in info %}
              {% if forloop.counter < 4 %}
                  <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="{{p.image2.url}}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fa fa-calendar-o text-gray" aria-hidden="true"></i>&nbsp;&nbsp;{{p.date|date:'M d Y'}}</span>
                            
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="{% url 'detail' slug=p.slug %}">{{p.title|title}}</a>
                    </div>
                </div>
              
              {% endif %}             
            {% endfor %}
            
            <div class="popular-tags">
              <h2>Popular Tags</h2>
              <div class="tags flex-row">
                <span class="tag" data-aos="flip-up" data-aos-delay="100">Opinions</span>
                <span class="tag" data-aos="flip-up" data-aos-delay="200">Technology</span>
                <span class="tag" data-aos="flip-up" data-aos-delay="300">Design</span>
                <span class="tag" data-aos="flip-up" data-aos-delay="400">Social turmoil</span>
                <span class="tag" data-aos="flip-up" data-aos-delay="500">Lifestyle</span>
              </div>
            </div>

          </aside>
      </div>
    </section>

    
  </main>
{% endblock  %}